body {
    background-color: lavender;
    margin: 0;
}

main {
    min-height: 100vh;
    padding: 64px 24px 96px;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C39BD3;
    font-size: 25px;
  }
  
  li {
    float: left;
    border-left: 1px solid #9B59B6
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #AF7AC5;
}

.active {
    background-color: #AF7AC5;
}

/* Alligning & sizing images */

img {
    max-width: 250px;
}

.pic {
    float: right;
    margin: 0px 0px 0px 25px;
}

.logo{
    max-width: 450px;
}

.isabelle{
    float:right;
    max-width: 100px;
}

/* organizing text */
section {
    width: 240px;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
}

.info {
    font-family: 'Times New Roman', Times, serif;
    width:fit-content ;
    background: white;
    margin: 32px;
    padding: 16px;
  }
  
  .text {
    font-weight: 900;
    font-size: 32px;
    margin: 0 0 16px;
    border-bottom: 1px solid #ccc;
  }
  
  .project p {
    font-size: 16px;
    font-weight: 100;
    margin: 0 0 16px;
  }

main {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.quote{
    font-size: x-large;
    font-style: italic;
}